<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask App</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

</head>

<body>
    <form action="http://localhost:5000/analyzeImage" method="POST">
        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="#">Home</a>
                        </li>
                    </ul>
                </nav>
                <h3 class="text-muted">Python Flask App</h3>
            </div>

            <div class="jumbotron">
                <h1>Cognitive Services in Python</h1>
                <p class="lead">Analyzing Images</p>
            </div>


            <table>
                <tr>
                    <td>
                        <label>Computer Vision API</label> </td>
                    <td>
                        <input name='key' value="" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>A public image url</label>
                    </td>
                    <td>
                        <input name='imgUrl' value="" required>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" />
                    </td>
                </tr>
                <tr  >
                    <td valign='top' >
                        <li>
                            <h2> Tags: </h2>
                            <ul>
                                {% for x in tags %}
                                <li> {{ x }} </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </td>

                    <td valign='top'>
                        <li>
                            <h2> Captions: </h2>
                            <ul>
                                {% for x in captions %}
                                <li> {{ x['text'] }} </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </td>
                </tr>
            </table>
        </div>  

        <footer class="footer">
            <p>&copy; Microsoft 2016</p>
        </footer>
    </form>
</body>

</html>
